.footer {
  display: block;
  background-color: #202020;
  padding: 53px 0 40px;

  @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl) {
    padding: 96px 0 35px;
  }
  @media (min-width: $adv2-breakpoints-xl) {
    padding: 78px 0 30px;
  }

  .footer__basic-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 72px;
    border-radius: 139px;
    border: 1px solid #F2F2F2;
    margin: 0 auto;
    position: relative;
    @media (min-width: 768px) and (max-width: $adv2-breakpoints-xl) {
      height: 150px;

    }
    @media (min-width: $adv2-breakpoints-xl) {
      max-width: 914px;
      height: 192px;
    }

    .footer__basic-img1 {
      display: block;
      width: 52px;
      height: 51px;
      background-image: url("../images/Dawn.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 50%;
      @media (min-width: $adv2-breakpoints-md) {
        width: 108px;
        height: 108px;
      }
    }

    .footer__basic-content {
      display: flex;
      flex-direction: column;
      width: 203px;
      height: 51px;
      justify-content: space-between;
      @media (min-width: $adv2-breakpoints-md) {
        width: 487px;
        height: 108px;
      }
    }

    .footer__basic-title {
      color: #FFF;
      font-family: $adv2-font2;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      @media (min-width: $adv2-breakpoints-md) {
        font-size: 48px;
      }
    }

    .footer__basic-text {
      color: #FFF;
      font-family: $adv2-font1;
      font-size: 15px;
      font-weight: 500;
      line-height: normal;

      @media (min-width: $adv2-breakpoints-md) {
        font-size: 24px;
      }
    }

    .footer__basic-text:after {
      content: "";
      position: absolute;
      width: 33px;
      height: 16px;
      background-image: url("../images/Group 2.svg");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: center center;
      top: 63%;
      right: 24%;
      @media (min-width: $adv2-breakpoints-md) {
        width: 55px;
        height: 26px;
        top: 67%;
        right: 40%;
      }
    }
  }

  &__bottom-box {
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 64px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 113px;
    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      padding-top: 60px;
    }
    @media (min-width: $adv2-breakpoints-xl){
      padding-top: 163px;
    }
  }

  &__wrapper-network {
    display: flex;
    gap: 34px;

    .footer__network-link {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../images/twitch.svg");
    }

    .footer__network-link--tw {
      background-image: url("../images/twitter.svg");
    }

    .footer__network-link--in {
      background-image: url("../images/instagram.svg");
    }

    .footer__network-link--ln {
      background-image: url("../images/linkedin.svg");
    }
  }

  &__bottom-text {
    color: #FFF;
    text-align: center;
    font-family: $adv2-font1;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }
}
