.header {
  display: block;
  background-image: linear-gradient(to right top, #D6D6D6, #FFEE32);
  background-size: 100%;

  &__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: +1;
    padding-top: 27px;
    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      padding-top: 38px;
    }
    @media (min-width: $adv2-breakpoints-xl) and (max-width: $adv2-breakpoints-xxl){
      padding-top: 41px;
      justify-content: start;
      gap: 28%;
    }
    @media (min-width: $adv2-breakpoints-xxl){
      padding-top: 41px;
      justify-content: start;
      gap: 20%;
    }
  }
  .header__title{
    display: block;
    padding: 412px 0 149px;
    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      padding: 273px 0 130px;
    }
    @media (min-width: $adv2-breakpoints-xl){
      padding: 491px 0 119px;
    }
  }
}
h1{
  font-family: $adv2-font2;
  line-height: normal;
  color: #FFF;
  font-weight: 700;
  font-size: 48px;
  @media (min-width: $adv2-breakpoints-md){
    font-size: 80px;
  }
}
@media (max-width: $adv2-breakpoints-xl){
  .header__nav-items{
    display: none;
  }
  .header__menu {
    position: relative;
    display: block;
    padding-right: 10px;

    &-btn {
      width: 56px;
      height: 56px;
      border-radius: 20px;
      border: 2px solid #FFF;
      background-image: url("../images/header menu item.svg");
      background-color: transparent;
      background-position: center center;
      display: list-item;
    }
    &-btn:focus + .header__menu-list{
      display: inherit;
    }
    .header__menu-list{
      display: none;
      position: absolute;
      top: 100%;
    }
    .header__menu-link {
      color: #FFF;
      font-family: $adv2-font1;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
    }
  }
}
@media(min-width: $adv2-breakpoints-xl) {

  .header__menu-btn {
    display: none;
  }
  .header__menu-list {
    display: none;
  }

  .header__nav-items {
    display: flex;
    width: 595px;
    height: 42px;
    gap: 20px;

  }
  .header__nav-link {
    display: inline-block;
    height: 22px;
    border-radius: 20px;
    border: 1px solid #FFF;
    padding: 10px 16px 10px 44px;
    color: #FFF;
    font-family: $adv2-font1;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    position: relative;
  }
  .header__nav-link:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 16px;
    top: 33%;
    background-size: 100%;
    background-position: center;
  }
  .header__nav-link--pf:before{
    background-image: url("../images/fi-rr-magic-wand.svg");
  }
  .header__nav-link--rm:before{
    background-image: url("../images/fi-rr-document.svg");
  }
  .header__nav-link--tm:before{
    background-image: url("../images/fi-rr-flower-tulip.svg");
  }
  .header__nav-link--ct:before{
    background-image: url("../images/fi-rr-comment-heart.svg");
  }
}
















