 .main__alex {
   height: 394px;
   background-color: #202020;
   padding-top: 72px;
   position: relative;
    overflow: hidden;
   @media (min-width: 768px){
     height: 369px;
     padding-top: 101px;
   }

   &-content {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     gap: 40px;
     width: 318px;
     @media (min-width: 768px) {
       width: 540px;
       height: 58%;
     }
   }

   &-h2 {
     color: #FAEB49;
     font-family: $adv2-font2;
     font-size: 36px;
     font-weight: 700;
     line-height: normal;
     @media (min-width: $adv2-breakpoints-md) {
       font-size: 48px;
     }
   }

   &-p {
     color: #FFF;
     font-family: $adv2-font1;
     font-size: 15px;
     font-weight: 500;
     line-height: normal;
     @media (min-width: 768px) {
       font-size: 16px;
     }
   }

   &-bottom-wrapper {
     display: flex;
     height: 92px;
     gap: 14px;
     @media (min-width: 768px) {
       height: 85px;
       gap: 96px;
     }
   }

   &-frame {
     display: flex;
     flex-direction: column;
     width: 30%;
     justify-content: space-between;
     @media (min-width: 768px) {
       width: 22%;
     }
   }

   &-number {
     color: #FFF;
     font-family: $adv2-font2;
     font-size: 36px;
     font-weight: 700;
     line-height: normal;
     @media (min-width: 768px) {
       font-size: 48px;
     }
   }

   &-text {
     color: #FFF;
     font-family: $adv2-font1;
     font-size: 16px;
     font-weight: 700;
     line-height: normal;
   }

   &-box {
     background-color: #3c3c3c;
   }

   &-figure {
     display: block;
     width: 168px;
     height: 320px;
     border-radius: 50%;
     border: 1px solid #737373;
     transform: rotate(45deg);
     position: absolute;
     right: -100px;
     bottom: 60px;
     @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl) {
       width: 268px;
       height: 512px;
       right: -50px;
       bottom: -20px;
     }
     @media (min-width: $adv2-breakpoints-xl) {
       width: 268px;
       height: 512px;
       bottom: -20px;
       right: -80px;
     }
   }
   .main__alex-figure--2 {
     transform: rotate(-45deg);
   }
 }