.main__mobile-app{
  background-color: #3C3C3C;
  padding-top: 52px;
  overflow: hidden;
  @media (min-width: $adv2-breakpoints-xl){
    padding-top: 86px;
  }
  &-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      display: grid;
      grid-template-columns: repeat(2, 333px);
      grid-template-rows: repeat(2, 634px);
      align-items: center;
      justify-items: center;
      column-gap: 40px;
    }
    @media (min-width: $adv2-breakpoints-xl){
      display: grid;
      grid-template-columns: repeat(3, 325px);
      grid-template-rows: repeat(2, 545px);
      column-gap: 40px;
      row-gap: 63px;
      align-items: center;
      justify-items: center;

    }
  }
  &-img
  {
    display: block;
    min-width: 100%;
    height: 278px;
    background-image: url("../images/Frame 17.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x : 50%;
    background-position-y : 50%;
    border-radius: 13px;

    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      height: 498px;
      min-width: 663px;
    }
    @media (min-width: $adv2-breakpoints-xl){
      height: 498px;
      min-width: 1010px;
    }
  }
  .main__mobile-app-content{
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  &-title{
    color: #565656;
    font-family: $adv2-font2;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    @media  (min-width: 768px){
      font-size: 40px;
    }
  }
  &-subtitle{
    color: #565656;
    font-family: $adv2-font2;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    @media (min-width: $adv2-breakpoints-md){
      font-size: 25px;
    }
  }
  &-text{
    color: #000;
    font-family: $adv2-font1;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    @media  (min-width: 768px){
      font-size: 16px;
    }
  }
  .main__mobile-app-text--top{
    font-weight: 700;
  }

  &-img2{
    display: block;
    min-width: 100%;
    height: 363px;
    background-image: url("../images/Frame 17_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x : 50%;
    background-position-y : 50%;
    border-radius: 13px;

    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      width: 293px;
      height: 448px;
    }
    @media (min-width: $adv2-breakpoints-xl){
      width: 285px;
      height: 338px;
    }
  }
  .main__mobile-app-img2--gray{
    background-image: url("../images/Frame 17_2.jpg");
  }
  .main__mobile-app-img2--orange{
    background-image: url("../images/Frame 17_3.jpg");
  }
  .main__mobile-app-link--first{
    @media (max-width: $adv2-breakpoints-md){
      display: none;
    }
  }
  .main__mobile-app-link--third{
    @media (max-width: $adv2-breakpoints-xl){
      display: none;
    }
  }

  &-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #FFFEF2;
    border-radius: 24px;
    gap: 20px;
    padding: 12px;
    position: relative;
    @media (min-width: $adv2-breakpoints-md){
      padding: 20px;
    }
    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      width: 288px;
    }
    @media (min-width: $adv2-breakpoints-xl){
      width: 285px;
    }
  }
  &-link:after{
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: #FFFFFF;
    background-image: url("../images/fi-rr-arrow-up.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
    border-radius: 50%;
    right: 40px;
    top: 40px;
  }
  .main__mobile-app-link--top{
    display: flex;
    min-width: 311px;
    padding: 16px;
    border-radius: 24px;
    margin-bottom: 85px;
    grid-column: span 2;

    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      min-width: 663px;
      padding: 20px;
    }
    @media (min-width: $adv2-breakpoints-xl){
      min-width: 1055px;
      padding: 20px;
      grid-column: span 3;
    }
  }

}