.main__graphics{
  background-color: #202020;
  padding-top: 58px;

  @media (min-width: $adv2-breakpoints-md){
    padding-top: 82px;
  }
}
.main__graphics-title{
    color: #FFF;
    font-family: $adv2-font2;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
  @media (min-width: $adv2-breakpoints-md){
    font-size: 80px;
  }
}
.main__graphics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  margin: 28px auto 0;

  @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 414px 325px;
    row-gap: 26px;
    column-gap: 34px;
    margin-top: 38px;
  }
  @media (min-width: $adv2-breakpoints-xl){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  525px 414px;
    gap: 26px;
    margin-top: 38px;
  }
}
  .main__graphics-img{
    display: block;
    min-width: 100%;
    height: 325px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x : 50%;
    background-position-y : 50%;
    border-radius: 40px;
    position: relative;
  }
  .main__graphics-img:after{
    content: "";
    position: absolute;
    width: 172px;
    height: 172px;
    background-image: url("../images/Soft-Star.svg");
    background-size: 100%;
    background-position: center;
    top: 25%;
    left: 38%;

    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      width: 227px;
      height: 227px;
      top: 93px;
      left: 239px;
    }
    @media (min-width: $adv2-breakpoints-xl){
      width: 268px;
      height: 268px;
      left: 40%;
    }
  }
  .main__graphics-img--unsplash{
    background-image: url("../images/unsplash1.png");
    grid-column: span 2;

    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      height: 414px;
    }
    @media (min-width: $adv2-breakpoints-xl){
      height: 525px;
    }
  }
  .main__graphics-img--rectangle6{
    background-image: url("../images/Rectangle6.png");

  }
  .main__graphics-img--rectangle6:after{
    width: 134px;
    height: 137px;
    background-image: url("../images/Butterfly.svg");
    left: 38%;

    @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
      width: 147px;
      height: 151px;
      left: 33%;
      top: 27%;
    }
    @media (min-width: $adv2-breakpoints-xl){
      width: 187px;
      height: 192px;
      top: 22%;
      left: 33%
    }
  }
  .main__graphics-img--rectangle7{
    background-image: url("../images/Rectangle7.png");
  }
 .main__graphics-img--rectangle7:after{
    width: 148px;
    height: 143px;
    background-image: url("../images/Asterisk-1.svg");
    left: 38%;

  @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
    width: 183px;
    height: 177px;
    left: 33%;
    top: 23%;
  }
  @media (min-width: $adv2-breakpoints-xl){
    width: 233px;
    height: 225px;
    top: 17%;
    left: 28%
  }
 }