.main__description{
  display: block;
  background-image: url("../images/Rectangle 8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x : 50%;
  background-position-y : 50%;
  padding: 180px 0 173px;

  @media (min-width: $adv2-breakpoints-md) and (max-width: $adv2-breakpoints-xl){
    padding: 274px 0 294px;
  }
  @media (min-width: $adv2-breakpoints-xl){
    padding: 303px 0 323px;
  }
  &-text{
    color: #FFF;
    text-align: center;
    font-family: $adv2-font2;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;

    @media (min-width: $adv2-breakpoints-md){
      font-size: 48px;
    }
  }
}