.container {
  margin: 0 auto;

  @media (max-width: $adv2-breakpoints-xl){
    padding: 0 10px;
  }
  @media (min-width: $adv2-breakpoints-xl) {
    max-width: 1055px;
  }
}
a{
  text-decoration: none;
}






